node_modules
public
.tmp
.sass-cache
client/bower_components
dist
/server/config/local.env.js
.vagrant/*
/build
.project
.buildpath
junit.xml
.DS_Store
npm-debug.log
/.idea/workspace.xml
/.idea/dataSources.ids
/.idea/vagrant.xml
/.idea/watcherTasks.xml
/.idea/inspectionProfiles
!/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources.local.xml

